<ion-view title="Wikidata" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="wikidata-form11" class="list">
      <label class="item item-input" id="wikidata-search2" name="searchbox">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </form>
    <div id="wikidata-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some friendly
        <strong>markdown</strong>
      </p>
    </div>
    <button id="wikidata-button10" style="border-radius:0px 0px 0px 0px;" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>